{% extends 'bulletinboard/default.html' %}

{% block content %}
<div class="article-panel">
	<p class="first">Категория: {{post.category}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Автор: {{post.author}}</p>
	<p class="last">Дата: {{post.creation_time|date:"d-m-Y H:i:s"}}</p>
</div>
<h1>{{post.title}}</h1>

{% autoescape off %}
{{post.body}}
{% endautoescape %}
{% if user.is_authenticated and user == post.author.user %}
			<p class="link-read-post"><a href="{% url 'post_edit' pk=post.pk%}">Редактировать пост</a></p>
			<p class="link-read-post"><a href="{% url 'post_delete' pk=post.pk %}">Удалить пост</a></p>
{% endif %}
  <!-- List of comments -->
{% if object.message_set.all %}
  <h3>Отклики</h3>

<ul class="list-articles">
	{% for message in object.message_set.all %}
	{% if message.is_approved %}
		<li><div class="article-panel">
			<p class="first">Автор: {{message.author}}</p>
			<p class="last">Дата: {{message.creation_time|date:"d-m-Y H:i:s"}}</p>
		</div>
            {{message.text}}
			<div class="clear"></div>
			</li>
	{% endif %}
	{% endfor %}
	{% endif %}
</ul>

<!-- Comment form -->
{% if user.is_authenticated %}
<h3>Добавить отклик</h3>
<form action="{% url 'add_message' post_id=post.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
</form>
{% endif %}

{% endblock %}
